<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dooler.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>58A40BCABC6167B2918F2379E204E0B59EA3FC3A</string>
				<key>dateExpires</key>
				<string>3/4/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J39B2498YF.org.reactjs.native.example.Dooler</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>J39B2498YF</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Dooler.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a10cab9b-886c-418a-9084-b2b865d1ea38</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.reactjs.native.example.Dooler</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J39B2498YF</string>
				<key>name</key>
				<string>Andrew Archer</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
