.words {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-auto-flow: row;
	grid-column-gap: 10px;
	grid-row-gap: 10px;

	max-width: 90%;
	margin: 60px auto;
}

.word {
	border-radius: 5px;
	padding: 20px 0;
	font-size: 24px;
	background: #1e1e1e;
	min-height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	cursor: pointer;
	transition: background 0.3s;
}

.word.guessed-this-turn {
	box-shadow: 0 0 10px 10px #B82;
}

.word.neutral {
	cursor: auto;
}

.word.non-agent-player-one {
	background: linear-gradient(to right, #721932, #1e1e1e);
}

.word.non-agent-player-two {
	background: linear-gradient(to right, #1e1e1e, #721932);
}

.team-two .word.non-agent-player-one,
.team-one .word.non-agent-player-two {
	cursor: auto;
}

.word.non-agent-player-one.non-agent-player-two {
	background: #721932;
	cursor: auto;
}

.word.agent {
	background: #029192;
	cursor: auto;
}

.word.assasin {
	background: #fff !important;
	color: black;
	cursor: auto;
}

.word.my-agent,
.color-agent {
	color: #029192;
}

.word.my-non-agent,
.color-non-agent {
	color: grey;
}

.word.my-assasin,
.color-assasin {
	color: #DD1919;
}

@media (hover: hover) {
	.word:not(.guessed):not(.neutral):hover {
		background: #5cbf2a;
	}
}

.player-select {
	flex: 1 1 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 24px 0;
}

.players {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	justify-content: flex-end;
}

.team {
	border: 1px solid #a09191;
	border-radius: 2px;
	min-width: 48px;
	min-height: 64px;
	margin: 0 6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.team-container {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.player {
	background: no-repeat url('../businessman.svg');
	background-size: contain;
	height: 24px;
	width: 24px;
	margin: 6px;
	position: relative;
	display: flex;
	justify-content: center;
}

.player-name {
	font-size: 7px;
	position: absolute;
	bottom: -10px;
	max-width: 32px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.player-info,
.header {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}

.header-flex-end {
	justify-content: flex-end;
	flex: 0 0 auto;
}

.player-info {
	align-items: center;
	padding: 10px 5%;
}

.header {
	padding: 0 5%;
}

.player-display {
	font-size: 24px;
	line-height: 1.5;
}

.player-select-enter-game {
	display: flex;
	flex: 1 1 auto;
}

.title {
	font-size: 48px;
	line-height: 72px;
}

.enter-game-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.enter-game-subcontainer {
	margin: 0 auto;
}

.enter-game {
	text-align: center;
	user-select: none;
}

.enter-game-input,
.enter-name-input {
	display: block;
	margin: 12px 0;
	text-align: center;
	transition: box-shadow 200;
}

.enter-game-input {
	margin-top: 6px;
}

.enter-game-input-wrapper {
	position: relative;
}

.word-input,
.number-input {
	margin: 12px;
}

.enter-game-button {
	transition: opacity 0.3s;
}

.enter-game-button:disabled {
	opacity: 0;
}

.info-view {
	display: flex;
	flex: 0 0 auto;
	justify-content: flex-start;
	padding: 36px 0;
}

.info-container {
	position: relative;
}

.info-container .info {
	background: #1e1e1e;
	border-radius: 5px;
	margin-top: 10px;
	opacity: 0;
	padding: 12px;
	position: absolute;
	left: 0;
	transition: opacity,box-shadow 0.3s;
	width: 600px;
	z-index: -1;

}

.info-container.open .info-button {
	background: #5cbf2a;
	user-select: none;
}

.info-container.open .info {
	box-shadow: 0 0 40px 20px #0ff;
	opacity: 1;
	z-index: 0;
}

.info-how-to-play {
	flex: 1 0 auto;
}

.info-attribution {
	flex: 0 0 auto;
	font-size: 10px;
	margin-top: 24px;
	text-align: center;
}

.info-how-to-play p,
.info-how-to-play ol {
	line-height: 20px;
	margin: 12px 0;
}

.info-how-to-play ol {
	margin: 6px;
}

.turn-view {
	flex: 0 1 300px;
	padding: 6px;
}

.turn {
	background: no-repeat url('../mushroom.svg');
	background-size: contain;
	display: inline-block;
	height: 24px;
	margin: 0 3px;
	width: 24px;
}

.game-over,
.you-win,
.start-new-game {
	font-size: 24px;
	line-height: 36px;
	margin: 12px 0;
}

.you-win {
	margin-top: 12px;
	position: absolute;
}

.clue-view {
	flex: 1 1 auto;
	padding: 24px 0;
	text-align: center;
}

.clue-for-guesser {
	font-size: 24px;
	line-height: 36px;
	padding: 12px 0;
}

.clue-for-guesser-word {
	margin-right: 12px;
}

.word-input,
.number-input {
	margin: 12px 6px 12px 0;
}

.word-input {
	max-width: 180px 0;
	text-transform:uppercase
}

.number-input {
	max-width: 50px;
}

.light {
	color: #898989;
}

.facebook-login,
.facebook-login:active {
	background-color: #4c69ba;
	background-size: contain;
	height: 50px;
	line-height: 50px;
	min-width: 50px;
}

.game-summary {
	display: block;
	margin-top: 2px;
	text-align: left;
	border-radius: 1px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.game-summary:hover {
	background-color: #898989;
}

.game-summary-section {
	text-align: left;
	overflow-y: scroll;
	margin-top: 24px;
}

.game-summary-details {
	margin-top: 0;
	margin-bottom: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: flex;
	justify-content: space-between;
}

.game-exists,
.game-doesnt-exist {
	position: absolute;
	left: 100%;
	margin-left: 12px;
	top: -2px;
	display: inline;
	overflow: visible;
	white-space: nowrap;
	padding: 12px 0;
}

.game-input-for-game-that-exists {
	box-shadow: 0 0 0 2px blue;
}

.game-input-for-game-that-doesnt-exist {
	box-shadow: 0 0 0 2px green;
}

.game-doesnt-exist {
	color: green;
}

.game-exists {
	color: blue;
}

.small-text {
	font-size: 10px;
	line-height: 10px;
}

.small-margin-bottom {
	margin-bottom: 6px;
}

.align-left {
	text-align: left;
}